> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. In order to work with the data in this workspace, you also need to upload it to the workspace. To do so, click on the jupyter icon in the upper left to be taken back to the workspace directory. There should be an 'Upload' button in the upper right that will let you add your data file(s) to the workspace. You can then click on the .ipynb file name to come back here.

In this project I am going to conduct analysis on imdb dataset which contains information of movies released from 1966 till 2015. The dataset contains lots of useful information like budjet, revenue, genres, average vote rating and many others. By looking to dataset's features we can draw many useful insights about movie industry in that period. In this analysis I would like to find out answer for following questions:  
            1. Which genres are most popular from year to year?
            2. How genres vote_average has changed over that period?
            3. Which genres has biggest budjet and revenue?
            4. How budget size related to revenue and vote_average rating?
            5. What kinds of properties are associated with movies that has high revenues?
            6. Which genres have highest revenue and why?
            7. Which company made most popular and high vote-rated movies?
            8. Who made most profitable movies in that period among directors?
            9  Which features are coreleated to high vote_average rating?

In [12]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline 

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [13]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df = pd.read_csv('tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [15]:
print('Number of duplicated rows when imdb_id is missing: {}'.format(df[df['imdb_id'].isnull()]['original_title'].duplicated().sum()))
print('Number of rows with missing values when origanl_title cells have duplicated values: {}'.format(df[df['original_title'].duplicated()]['imdb_id'].isnull().sum()))

Number of duplicated rows when imdb_id is missing: 0
Number of rows with missing values when origanl_title cells have duplicated values: 0

###### Unecessary columns
From the information about columns of datasets we can realise that not all feature are related or not necesseraly reletad to our analysis. Namely, **id**, **homepage**, **tagline**, **overview**, **release_year** columns holds information that has no value for out analysis or, in simple words, we can't find out any useful insight from them. For this reason we can drop them to shrink size of dataset for our analysis. You can see resons for each column drop in the following list.
     1. id - Actually here an arguable thing, we could drop both id columns: id and imdb_id. However, I decided to left imdb_id although it contains 10 missing values. To achieve unique identification we can use imdb_id and original_title as composite primary key in database. We can make sure that the combination of imdb_id and origanal_title provides unique values by looking the cell number 33. There we can see we have 0 number if duplicated rows when imdb_id is missing values and 0 number of rows with missing values when original_title cells have duplicated values.
     2. homepage - holds url for website which we don't need
     3. tagline - holds a sentence which don't need
     4. overview - holds a brief description of movie which we don't need
     5. release_year - holds duplicate information which exists in release_date. Since we can figure out release_year from release_date, we can drop this feature as well.

In [16]:
df.drop(['id', 'original_title', 'homepage', 'tagline', 'overview', 'release_year'], axis=1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 15 columns):
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
cast                    10790 non-null object
director                10822 non-null object
keywords                9373 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(4), object(7)
memory usage: 1.2+ MB

###### Dealing with null values in columns
Above we can see that the columns that misses values are : **cast**, **director**, **keywords**, **genres**, **production_companies**. Since these columns string values and nothing to do with numbers we can't do much about these columns and it's not too necessary for analysis. So we just keep them as it is.

###### Converting to correct datatypes
In the dataframe, we have column **release_date** which has incorrect date type - string. We need to convert it to proper data type and format before starting anaylsis. Because earlier we dropped **release_year** column because it hold redundant data which can be found in **release_date** column. Except that I don't need any column that needs conversion to better format.

In [18]:
df['release_date']=pd.to_datetime(df['release_date'])
df['release_date'].mask(df['release_date'].dt.year > 2015, (df['release_date'] - pd.to_timedelta(100, unit='y') + pd.to_timedelta(12, unit='h')), inplace=True)
df['release_date'] = df['release_date'].dt.date
df['release_date'].head()

0    2015-06-09
1    2015-05-13
2    2015-03-18
3    2015-12-15
4    2015-04-01
Name: release_date, dtype: object

In the code cell above, **mask** operation is used for replacing incorrect year values of **release_date** after changing its data type to datetime type. After conversion to datetime, there were year way bigger than 2015, namely, 2066. 2066 is 1966 in the dataset with original type. And the biggest value for year is 2015 in original dateset. Therefore, I changed those incorrect years with its correct values by using **mask** function. It takes condition as first parameter, and replacing value as second parameter. In our case condition is ```df['release_date'].dt.year > 2015``` and ```(df['release_date'] - pd.to_timedelta(100, unit='y') + pd.to_timedelta(12, unit='h'))``` is replacing value. If condition is true then replacement is done.

###### Dealing with multivalue columns
There are fields which holds multiple values in a cell. Namely, **genres**, **production_companies**, **cast**, and **keywords**. However, we are not interested on **cast** and **keywords** columns since we don't have questions related to these fields. Therefore, we do wrangling only on **genres** and **production_companies**. Since these fields holds multiple values, I want to split each value in seperate rows. However, considering there will be too many duplication, I decided to create two extra dataframes, one for production_companies, and one for genres related questions.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [19]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Which genres are most popular from year to year ?

In [20]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

genre_list = pd.Series(df['genres'].str.cat(sep = '|').split('|'))
#genre_list.value_counts(ascending = False)

all_unique_genre_list = set()
for genre in genre_list:
    all_unique_genre_list.add(genre)

genre_list = pd.Series([*all_unique_genre_list])

In [21]:
def func1(row, genre):
    print(row.str.contains(genre))
    
for genre in genre_list:
    df['genres'].apply(lambda row: func1(row, genre))

AttributeError: 'str' object has no attribute 'str'

In [22]:
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})

### Research Question 2  (Replace this header name!)

In [21]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [22]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])

0

In [1]:
genre_counts = genres_and_films.groupby('release_year').genre.value_counts()
total_votes = genres_and_films.groupby(['release_year','genre'])['vote_average'].sum()
genre_counts.head()
total_votes.head()
average_each_year = total_votes / genre_counts
average_each_year.head()
average_each_year= average_each_year.reset_index(name = 'average_in_year_vote')
max_each_year = average_each_year.sort_values(['release_year', 'average_in_year_vote'], ascending=False).groupby('release_year')['release_year','genre','vote_average'].head(3)
max_each_year.genre.value_counts()

NameError: name 'genres_and_films' is not defined